/*Site-header*/
.site-header{
    transition: top .3s ease, opacity .3s ease;
    .navbar-collapse{
	justify-content: flex-end;
    }
    .logo-link{
	width: rem(204px);
	position: relative;
	z-index: 200;
    }
    .nav-link{
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	font-family: $headings-font-family;
    }
    .active .nav-link,
    .nav-link:hover{
	border-color: $acc2;
    }
    .dropdown:hover{
	.dropdown-menu{
	    display: block;
	}
    }
    .logged-in-hide{
	.logged-in &{
	    display: none;
	}
    }
    .logged-in-show{
	display: none;
	.logged-in &{
	    display: list-item;
	}
    }
    &.nav-up,
    &.nav-down:not(.nav-top){
	z-index: 99999;
	position: fixed;
	opacity: 1;
	background-color: #fff;
	top: 0;
	left: 0;
	right: 0;
	.navbar{
	    padding-top: .77rem;
	    padding-bottom: .77rem;
	}
    }
    &.nav-up{
	top: -100px;
    }
}
.navbar-toggler{
    border:0 none;
    padding-right: 0;
    position: relative;
    z-index: 200;
    .btn-text{
	font-size: 1rem;
	line-height: 20px;
	color: $navbar-light-color;
	font-weight: 700;
	text-transform: uppercase;
    }
    .toggle-icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	top: 4px;
	margin-right: 5px;
	i{
	    display: block;
	    position: absolute;
	    height: 3px;
	    width: 100%;
	    background-color: $navbar-light-color;
	    left: 0;
	    transform: rotate(0deg);
	    transition: .25s ease-in-out;
	    &:nth-child(1){
		top: 0;
	    }
	    &:nth-child(2),
		&:nth-child(3){
		top: 8px;
	    }
	    &:nth-child(4){
		top: 16px;
	    }
	}

    }
    &:not(.collapsed){
	.toggle-icon{
	    i{
		&:nth-child(1){
		    top: 9px;
		    width: 0;
		    left: 50%;
		}
		&:nth-child(2){
		    transform: rotate(45deg);
		}
		&:nth-child(3){
		    transform: rotate(-45deg);
		}
		&:nth-child(4){
		    top: 9px;
		    width: 0;
		    left: 50%;
		}
	    }
	}
    }
}
.site-footer{
    background-color: #283981;
    color: #fff;
    padding: 3rem 0;
    .row{
	justify-content: center;
    }
    .logo-link{
	display: inline-block;
	width: rem(204px);
	margin-top: rem(3px);
    }
    #footer-links{
	flex-direction: column;
	li{
	    padding-left: 1rem;
	    margin-bottom: .3rem;
	    background: url("data:image/svg+xml,%3Csvg width='6' height='13' viewBox='0 0 6 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6.5L-4.76995e-08 12.5L4.76837e-07 0.5L6 6.5Z' fill='%230093E1'/%3E%3C/svg%3E%0A") center left / .4rem .8rem no-repeat ;
	}
	a{
	    color: #fff;
	    font-size: rem(13px);
	    text-transform: uppercase;
	    &:hover{
		color: $blue;
	    }
	}
    }
    .social{
	li{
	    line-height: 1;
	}
	li+li{
	    margin-left: rem(20px);
	}
	a{
	    font-size: rem(40px);
	    line-height: 1;
	}
    }
    .address{
	padding-left: rem(35px);
	margin-bottom: rem(25px);
	background: url("data:image/svg+xml,%3Csvg width='18' height='22' viewBox='0 0 18 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.364 15.364L9 21.728L2.636 15.364C1.37734 14.1053 0.520187 12.5017 0.172928 10.7558C-0.17433 9.01001 0.00390685 7.20041 0.685099 5.55588C1.36629 3.91136 2.51984 2.50575 3.99988 1.51683C5.47992 0.527899 7.21998 6.10352e-05 9 6.10352e-05C10.78 6.10352e-05 12.5201 0.527899 14.0001 1.51683C15.4802 2.50575 16.6337 3.91136 17.3149 5.55588C17.9961 7.20041 18.1743 9.01001 17.8271 10.7558C17.4798 12.5017 16.6227 14.1053 15.364 15.364ZM9 13C10.0609 13 11.0783 12.5786 11.8284 11.8284C12.5786 11.0783 13 10.0608 13 8.99998C13 7.93912 12.5786 6.9217 11.8284 6.17156C11.0783 5.42141 10.0609 4.99998 9 4.99998C7.93914 4.99998 6.92172 5.42141 6.17158 6.17156C5.42143 6.9217 5 7.93912 5 8.99998C5 10.0608 5.42143 11.0783 6.17158 11.8284C6.92172 12.5786 7.93914 13 9 13ZM9 11C8.46957 11 7.96086 10.7893 7.58579 10.4142C7.21072 10.0391 7 9.53042 7 8.99998C7 8.46955 7.21072 7.96084 7.58579 7.58577C7.96086 7.2107 8.46957 6.99998 9 6.99998C9.53044 6.99998 10.0391 7.2107 10.4142 7.58577C10.7893 7.96084 11 8.46955 11 8.99998C11 9.53042 10.7893 10.0391 10.4142 10.4142C10.0391 10.7893 9.53044 11 9 11Z' fill='%230093E1'/%3E%3C/svg%3E%0A") 0 .3rem / 1.2rem 1.47rem no-repeat;
    }
    .phone{
	padding-left: rem(35px);
	background: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 13.42V16.956C18.0001 17.2092 17.9042 17.453 17.7316 17.6382C17.559 17.8234 17.3226 17.9363 17.07 17.954C16.633 17.984 16.276 18 16 18C7.163 18 0 10.837 0 2C0 1.724 0.015 1.367 0.046 0.93C0.0637224 0.677444 0.176581 0.441011 0.361804 0.268409C0.547026 0.0958068 0.790823 -0.000114433 1.044 2.56579e-07H4.58C4.70404 -0.000125334 4.8237 0.045859 4.91573 0.12902C5.00776 0.212182 5.0656 0.326583 5.078 0.45C5.101 0.68 5.122 0.863 5.142 1.002C5.34073 2.38892 5.748 3.73783 6.35 5.003C6.445 5.203 6.383 5.442 6.203 5.57L4.045 7.112C5.36445 10.1865 7.81455 12.6365 10.889 13.956L12.429 11.802C12.4919 11.714 12.5838 11.6509 12.6885 11.6237C12.7932 11.5964 12.9042 11.6068 13.002 11.653C14.267 12.2539 15.6156 12.6601 17.002 12.858C17.141 12.878 17.324 12.9 17.552 12.922C17.6752 12.9346 17.7894 12.9926 17.8724 13.0846C17.9553 13.1766 18.0012 13.2961 18.001 13.42H18Z' fill='%230093E1'/%3E%3C/svg%3E%0A") 0 0 / 1.2rem 1.47rem no-repeat;
    }
    .phone,
    .address{
	a{
	    color: #fff;
	    &:hover{
		color: $blue;
	    }
	}
    }
}
.copyright{
    background-color: #283981;
    color: #fff;
    padding: 1.8rem 0;
    color: rgba(#fff, .5);
    border-top: 1px solid rgba(#fff, .1);

    a{
	color: rgba(#fff, .5);
	&:hover{
	    color: #fff;
	}
    }
    .row{
	justify-content: space-between;
    }
    .nav{
	li+li{
	    margin-left: .3rem;
	}
    }
}
@include media-breakpoint-up(md) {
    .site-header{
	#main-menu > .menu-item+.menu-item{
	    margin-left: 1rem;
	}
	.navbar {
	    padding-top: 2rem;
	    padding-bottom: 2rem;
	}
    }
    .site-footer{
	.row{
	    justify-content: space-between;
	}
    }
}
@include media-breakpoint-up(lg) {
    .site-header{
	#main-menu > .menu-item+.menu-item{
	    margin-left: vw(50px);
	}
	.nav-link{
	    padding: .25rem .66667rem
	}
    }
}
@include media-breakpoint-down(lg) {
    .site-footer{
	.social{
	    justify-content: center;
	}
    }
}
@include media-breakpoint-down(md) {
    .site-header{
	.navbar-collapse{
	    background-color: rgba(#fff, .9);
	    position: absolute;
	    z-index: 100;
	    left: 0;
	    top: 0;
	    width: 100%;
	    min-height: 100vh;
	}
	#main-menu{
	    text-align: center;
	    margin-top: 20vh;
	    .nav-item{
		margin-bottom: .5rem;
	    }
	    .nav-link{
		font-size: rem(18px);
	    }
	}
    }
    .site-footer{
	.logo{
	    text-align: center;
	    margin-bottom: 2rem;
	}
    }
    .copyright{
	text-align: center;
	.nav{
	    justify-content: center;
	    margin-top: 1rem;
	}
    }
}
@include media-breakpoint-down(sm) {
    .site-header{
	.logo-link{
	    width: 40vw;
	}
    }
    .site-footer{
	.col-auto{
	    margin-bottom: 1rem;
	}
    }
}
#toTop{
    position: fixed;
    z-index: 200;
    bottom: 5%;
    right: 3%;
    cursor: pointer;
    display: none;
    width: rem(43px);
    min-width: rem(43px);
    height: rem(43px);
    padding: .5rem;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20451.847%20451.846%22%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M248.292%20106.406l194.281%20194.29c12.365%2012.359%2012.365%2032.391%200%2044.744-12.354%2012.354-32.391%2012.354-44.744%200L225.923%20173.529%2054.018%20345.44c-12.36%2012.354-32.395%2012.354-44.748%200-12.359-12.354-12.359-32.391%200-44.75L203.554%20106.4c6.18-6.174%2014.271-9.259%2022.369-9.259%208.095%200%2016.192%203.091%2022.369%209.265z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    background-color: rgba($primary, .7);
    background-size: rem(30px);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
    border-radius: 5px;
    opacity: .7;
    &:hover{
	opacity: 1;
    }
}