.learndash-wrapper{
    background-color: var(--ld-focus-bg)!important;
    .ld-focus {
	--ld-focus-bg: #fff;
	--ld-main-color: #4e4b66;
	--ld-blue-color: #0093E1;
	--ld-border-color: #e2e7ed;
	--ld-main-light-color: #A0A3BD;
	--ld-active-hover: #f4f4f4;

	.ld-focus-header {
	    background-color: var(--ld-focus-bg);
	    border-color: var(--ld-border-color);
	    .ld-progress {
		flex: 0 0 auto;
		border-right: none;
	    }
	    .ld-progress-wrap {
		width: auto;
		max-width: 100%;
	    }
	    .ld-brand-logo {
		background-color: var(--ld-focus-bg);
		flex: 1 !important;
		max-width: initial !important;
		a {
		    color: var(--ld-main-color);
		}
	    }
	    .ld-trigger-mobile-nav {
		color: var(--ld-main-color);
	    }
	    .arrow-mobile-nav a {
		color: var(--ld-main-color);
	    }
	    .fa {
		font-size: 1.3rem;
	    }
	    .ld-settings-mode {
		color: var(--ld-main-color);
		&:hover {
		    cursor: pointer;
		}
	    }
	    .ld-user-menu {
		flex: 0 0 auto;
		border: 0 none;
		.ld-profile-avatar {
		    width: auto;
		    height: auto;
		}
		.fa {
		    color: $blue;
		}
		.ld-user-menu-items {
		    &:before {
			display: none;
		    }
		    a {
			color: var(--ld-main-color);
			background-color: var(--ld-focus-bg);
			border: 1px solid var(--ld-border-color);
			font-weight: 400;
			&:hover {
			    opacity: 1;
			    font-weight: 700;
			}
		    }
		    a:last-child {
			border-bottom: 1px solid var(--ld-border-color) !important;
		    }
		}
	    }
	}
	.ld-progress {
	    .ld-progress-heading .ld-progress-stats {
		display: flex;
		.ld-progress-percentage {
		    color: $blue;
		    margin-right: 0.5rem;
		}
	    }
	    .ld-progress-bar-percentage {
		background-color: $blue;
	    }
	    .ld-progress-steps{
		color: var(--ld-main-color);
	    }
	}
	.ld-status-complete {
	    background-color: $blue;
	}
	.ld-focus-sidebar {
	    background-color: var(--ld-focus-bg);
	    border-color:  var(--ld-border-color);
	    padding-bottom: 0;
	    .ld-course-navigation {
		.ld-lesson-item {
		    border-bottom: 0 none;
		    background: none;
		    .ld-lesson-item-preview {
			padding: 0.5em 1em;
			.ld-lesson-title{
			    font-family: $headings-font-family;
			    color: var(--ld-main-color);
			    font-weight: 700;
			    font-size: .8rem;
			}
		    }
		    &.ld-is-current-lesson {
			.ld-lesson-item-preview{
			    background-color: var(--ld-active-hover);
			}
			.ld-lesson-title{
			    color: var(--ld-blue-color);
			}
		    }
		}
		.ld-lesson-item-preview .ld-expand-button {
		    color: var(--ld-main-light-color);
		    font-size: .7rem;
		}
		.ld-status-icon.ld-status-in-progress {
		    border-color: $blue #e2e7ed #e2e7ed $blue;
		}
		.ld-topic-list.ld-table-list{
		    background-color: var(--ld-focus-bg);
		    padding: 0;
		    &:before{
			display: none;
		    }
		}
		.ld-topic-title{
		    font-family: $headings-font-family;
		    color: var(--ld-main-color);
		    font-weight: 700;
		    font-size: .7rem;
		}
	    }
	    .ld-focus-sidebar-wrapper{
		&::-webkit-scrollbar {
		    width: 16px;
		}
		&::-webkit-scrollbar-track {
		    background-color: var(--ld-border-color);
		    border-radius: 0;
		}
		&::-webkit-scrollbar-thumb {
		    background-color: var(--ld-main-light-color);
		    border-radius: 0;
		}
	    }
	}
	.ld-expand-button.ld-button-alternate .ld-icon {
	    background: none;
	    color: var(--ld-main-color);
	}
	.ld-focus-content{
	    padding-top: 35px!important;
	    padding-bottom: 0!important;
	}
	.ld-content-actions{
	    border: 0 none;
	    padding: 0;
	}
	.ld-button{
	    font-size: rem(19px);
	    background: none;
	    padding: 0;
	    color: var(--ld-blue-color);
	    .ld-text{
		padding: 0 .5em;
	    }
	}
	.ld-content-actions{
	    .content-title{
		flex-grow: 1;
		.h6{
		    color: var(--ld-main-color);
		}
	    }
	}
	.ld-table-list {
	    border-bottom: 0;
	    .ld-table-list-items{
		border: 0 none;
		padding: 0;
	    }
	}
	#comments{
	    margin: 0;
	    max-width: 100%;
	    #wpdcom{
		max-width: 100%;
	    }
	    .wpd-form-head{
		display: none!important;
	    }
	    #wpdcom .wpd-comment-text{
		color: var(--ld-main-color);
	    }
	}
	.wpd-avatar{
	    img.avatar{
		border-radius: 50%!important;
		border: 0 none!important;
		background: none!important;
	    }
	}
	.resource{
	    display: flex;
	    align-items: center;
	    margin-bottom: 1rem;
	    color: var(--ld-main-color);
	    .icon-wrp{
		font-size: 2.5rem;
		a{
		    display: block;
		    line-height: 1;
		    color: var(--ld-blue-color);
		}
	    }
	    .info-wrp{
		padding-left: .5rem;
	    }
	    .h6{
		margin-bottom: 0;
		margin-top: .2rem;
		a{
		    color: var(--ld-main-color);
		}
	    }
	    .descr{
		font-size: .85rem;
	    }
	}
    }
}
#darkmode{
    background-color: #383636;
    .learndash-wrapper .ld-focus{
	--ld-focus-bg: #383636;
	--ld-main-color: #dedada;
	--ld-blue-color: #dedada;
	--ld-border-color: #333;
	--ld-main-light-color: #dedada;
	--ld-active-hover: #968f8f;
	.wpd-comment.wpd-reply .wpd-comment-wrap {
	    background-color: #474444;
	}
	#wpdcom{
	    .ql-container {
		background: #474444;
		border-color: #333;
	    }
	    .ql-toolbar{
		background: #474444;
		border-color: #333;
	    }
	    .wpd-comment .wpd-reply-to a {
		color: $blue;
	    }
	    .wpd-thread-head{
		.wpd-filter,
		.wpdiscuz-user-settings,
		.wpd-thread-info{
		    color: #dedada;
		}
	    }
	}
    }
}
@include media-breakpoint-up(md) {
    .learndash-wrapper .ld-focus {
	.mobile-progress {
	    display: none;
	}
	.close-course{
	    display: none;
	}
    }
}