.learndash-wrapper .ld-focus {
    --ld-focus-bg: #fff;
    --ld-main-color: #4E4B66;
    --ld-border-color: #e2e7ed;

    .ld-focus-header{
	.ld-progress	{
	    flex: 0 0 auto;
	    border-right: none;
	}
	.ld-progress-wrap{
	    width: auto;
	    max-width: 100%;
	}
	.ld-brand-logo{
	    background-color: var(--ld-focus-bg);
	    flex: 1 !important;
	    max-width: initial !important;
	    a{
		color: var(--ld-main-color);
	    }
	}
	.ld-trigger-mobile-nav{
	    color: var(--ld-main-color);
	}
	.arrow-mobile-nav a{
	    color: var(--ld-main-color);
	}
	.fa{
	    font-size: 1.3rem;
	}
	.ld-settings-mode{
	    color: var(--ld-main-color);;
	    &:hover{
		cursor: pointer;
	    }
	}
	.ld-user-menu{
	    flex: 0 0 auto;
	    border: 0 none;
	    .ld-profile-avatar {
		width: auto;
		height: auto;
	    }
	    .fa{
		color: $blue;
	    }
	    .ld-user-menu-items{
		&:before {
		    display: none;
		}
		a{
		    color: var(--ld-main-color);
		    background-color: var(--ld-focus-bg);
		    border: 1px solid var(--ld-border-color);
		    font-weight: 400;
		    &:hover{
			opacity: 1;
			font-weight: 700;
		    }
		}
		a:last-child{
		    border-bottom: 1px solid var(--ld-border-color)!important;
		}
	    }
	}
    }
    .ld-progress {
	.ld-progress-heading .ld-progress-stats{
	    display: flex;
	    .ld-progress-percentage{
		color: $blue;
		margin-right: .5rem;
	    }
	}
	.ld-progress-bar-percentage{
	    background-color: $blue;
	}
    }
    .ld-focus-sidebar{
	.ld-course-navigation {
	    .ld-lesson-item .ld-lesson-item-preview{
		padding: 0;
	    }
	}
    }
}

@include media-breakpoint-up(md) {
    .learndash-wrapper .ld-focus {
	.mobile-progress{
	    display: none;
	}
    }
}