.learndash-wrapper{
    background-color: var(--ld-focus-bg)!important;
    .ld-focus {
	--ld-focus-bg: #fff;
	--ld-main-color: #4e4b66;
	--ld-blue-color: #0093E1;
	--ld-border-color: #e2e7ed;
	--ld-main-light-color: #A0A3BD;
	--ld-active-hover: #f4f4f4;

	h2{
	    @include font-size(rem(20px));
	    color: var(--ld-main-color);
	}
	.h5, h6{
	    color: var(--ld-main-color);
	}
	.ld-tabs-content{
	    color: var(--ld-main-color);
	}
	.ld-focus-header {
	    background-color: var(--ld-focus-bg);
	    border-color: var(--ld-border-color);
	    .ld-progress {
		flex: 0 0 auto;
		border-right: none;
	    }
	    .ld-progress-wrap {
		width: auto;
		max-width: 100%;
	    }
	    .ld-brand-logo {
		background-color: var(--ld-focus-bg);
		flex: 1 !important;
		max-width: initial !important;
		a {
		    color: var(--ld-main-color);
		}
	    }
	    .ld-trigger-mobile-nav {
		color: var(--ld-main-color);
	    }
	    .arrow-mobile-nav a {
		color: var(--ld-main-color);
	    }
	    .fa {
		font-size: 1.3rem;
	    }
	    .ld-settings-mode {
		color: var(--ld-main-color);
		&:hover {
		    cursor: pointer;
		}
	    }
	    .ld-user-menu {
		flex: 0 0 auto;
		border: 0 none;
		.ld-profile-avatar {
		    width: auto;
		    height: auto;
		}
		.fa {
		    color: $blue;
		}
		.ld-user-menu-items {
		    &:before {
			display: none;
		    }
		    a {
			color: var(--ld-main-color);
			background-color: var(--ld-focus-bg);
			border: 1px solid var(--ld-border-color);
			font-weight: 400;
			&:hover {
			    opacity: 1;
			    font-weight: 700;
			}
		    }
		    a:last-child {
			border-bottom: 1px solid var(--ld-border-color) !important;
		    }
		}
	    }
	}
	.ld-progress {
	    .ld-progress-heading .ld-progress-stats {
		display: flex;
		.ld-progress-percentage {
		    color: $blue;
		    margin-right: 0.5rem;
		}
	    }
	    .ld-progress-bar-percentage {
		background-color: $blue;
	    }
	    .ld-progress-steps{
		color: var(--ld-main-color);
	    }
	}
	.ld-status-complete {
	    background-color: $blue;
	}
	.ld-status-unlocked{
	    background: none;
	}
	.ld-focus-sidebar {
	    background-color: var(--ld-focus-bg);
	    border-color:  var(--ld-border-color);
	    padding-bottom: 0;
	    .ld-course-navigation {
		.ld-lesson-item {
		    border-bottom: 0 none;
		    background: none;
		    .ld-lesson-item-preview {
			padding: 0.5em 1em;
			.ld-lesson-title{
			    font-family: $headings-font-family;
			    color: var(--ld-main-color);
			    font-weight: 700;
			    font-size: .8rem;
			}
		    }
		    &.ld-is-current-lesson {
			.ld-lesson-item-preview{
			    background-color: var(--ld-active-hover);
			}
			.ld-lesson-title{
			    color: var(--ld-blue-color);
			}
		    }
		}
		.ld-lesson-item-preview .ld-expand-button {
		    color: var(--ld-main-light-color);
		    font-size: .7rem;
		}
		.ld-status-icon.ld-status-in-progress {
		    border-color: $blue #e2e7ed #e2e7ed $blue;
		}
		.ld-topic-list.ld-table-list{
		    background-color: var(--ld-focus-bg);
		    padding: 0;
		    &:before{
			display: none;
		    }
		}
		.ld-topic-title{
		    font-family: $headings-font-family;
		    color: var(--ld-main-color);
		    font-weight: 700;
		    font-size: .7rem;
		}
	    }
	    .ld-focus-sidebar-wrapper{
		&::-webkit-scrollbar {
		    width: 16px;
		}
		&::-webkit-scrollbar-track {
		    background-color: var(--ld-border-color);
		    border-radius: 0;
		}
		&::-webkit-scrollbar-thumb {
		    background-color: var(--ld-main-light-color);
		    border-radius: 0;
		}
	    }
	}
	.ld-expand-button.ld-button-alternate .ld-icon {
	    background: none;
	    color: var(--ld-main-color);
	}
	.ld-focus-content{
	    padding-top: 65px!important;
	    padding-bottom: 0!important;
	}
	.ld-content-actions{
	    border: 0 none;
	    padding: 0;
	}
	.ld-button{
	    font-size: rem(19px);
	    background: none;
	    padding: 0;
	    color: var(--ld-blue-color);
	    .ld-text{
		padding: 0 .5em;
	    }
	}
	.ld-content-actions{
	    .content-title{
		flex-grow: 1;
		.h6{
		    color: var(--ld-main-color);
		}
	    }
	    .answers-info{
		flex-grow: 1;
		span.correct-answers {
		    background-color: var(--lqc-color-correct-light);
		    padding: 10px 15px;
		    display: inline-block;
		    margin-right: 25px;
		    margin-bottom: 10px;
		    font-size: 18px;
		    font-weight: 600;
		}
		span.incorrect {
		    background-color: var(--lqc-color-incorrect-light);
		    padding: 10px 15px;
		    display: inline-block;
		    font-weight: bold;
		    margin-bottom: 10px;
		    font-size: 18px;
		    font-weight: 600;
		}
	    }
	}
	.ld-table-list {
	    border-bottom: 0;
	    .ld-table-list-items{
		border: 0 none;
		padding: 0;
	    }
	}
	#learndash_mark_complete_button{
	    display: none;
	}
	#comments{
	    margin: 0;
	    max-width: 100%;
	    #wpdcom{
		max-width: 100%;
	    }
	    .wpd-form-head{
		display: none!important;
	    }
	    #wpdcom .wpd-comment-text{
		color: var(--ld-main-color);
	    }
	}
	.wpd-avatar{
	    img.avatar{
		border-radius: 50%!important;
		border: 0 none!important;
		background: none!important;
	    }
	}
	.resource{
	    display: flex;
	    align-items: center;
	    margin-bottom: 1rem;
	    color: var(--ld-main-color);
	    .icon-wrp{
		font-size: 2.5rem;
		a{
		    display: block;
		    line-height: 1;
		    color: var(--ld-blue-color);
		}
	    }
	    .info-wrp{
		padding-left: .5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	    }
	    .h6{
		margin-bottom: 0;
		margin-top: .2rem;
		a{
		    color: var(--ld-main-color);
		}
	    }
	    .descr{
		font-size: .85rem;
	    }
	}
	#ff-compose{
	    .ff-title{
		@include font-size(rem(20px));
		color: var(--ld-main-color);
	    }
	    .ff-form{
		max-width: 100%;
		color: var(--ld-main-color);
	    }
	    .btn{
		img{
		    display: none;
		}
	    }
	    .ff-button-bar .ff-powered-img{
		display: none!important;
		opacity: 0;
	    }
	    .ff-check-table{
		display: flex;
		.form-check{
		    margin-right: 1rem;
		}
	    }
	}
	.wpProQuiz_text{
	    display: none;
	}
	.wpProQuiz_content{
	    .customquiztext{
		color: $blue;
	    }
	    .wpProQuiz_listItem{
		margin-top: 0!important;
	    }
	    .wpProQuiz_question{
		margin: 0!important;
		padding: 0!important;
		border: 0 none!important;
	    }
	    .wpProQuiz_clear{
		margin-bottom: 0!important;
	    }
	    .wpProQuiz_question_text{
		font-weight: 700;
		margin-bottom: 0;
		p{
		    margin-bottom: 0;
		    color: var(--ld-main-color);
		}
	    }
	    .wpProQuiz_quiz .wpProQuiz_button{
		font-weight: 700!important;
		line-height: 1.7!important;
		padding: 0.8rem 2.13333rem!important;
		font-size: .86667rem!important;
		border-radius: 0.26667rem!important;
	    }
	    .wpProQuiz_results{
		display: none!important;
	    }
	    .wpProQuiz_correct,
	    .wpProQuiz_incorrect{
		display: none!important;
	    }
	}
	.close-course{
	    color: var(--ld-main-color);
	}
	#ff-compose label {
	    font-family: $headings-font-family;
	    font-weight: 600;
	}
    }
    &.feedback-thank-you,
    &.course-feedback,
    &.course-resources,
    &.course-discussion{
	.ld-focus-content{
	    padding-top: 35px!important;
	}
    }
}
#darkmode{
    background-color: #383636;
    .learndash-wrapper .ld-focus{
	--ld-focus-bg: #383636;
	--ld-main-color: #dedada;
	--ld-blue-color: #dedada;
	--ld-border-color: #333;
	--ld-main-light-color: #dedada;
	--ld-active-hover: #968f8f;
	.wpd-comment.wpd-reply .wpd-comment-wrap {
	    background-color: #474444;
	}
	#wpdcom{
	    .ql-container {
		background: #474444;
		border-color: #333;
	    }
	    .ql-toolbar{
		background: #474444;
		border-color: #333;
	    }
	    .wpd-comment .wpd-reply-to a {
		color: $blue;
	    }
	    .wpd-thread-head{
		.wpd-filter,
		.wpdiscuz-user-settings,
		.wpd-thread-info{
		    color: #dedada;
		}
	    }
	}
    }
    .form-control{
	background-color: #474444;
	color: #dedada;
	border-color: #333;
    }
}
@include media-breakpoint-up(md) {
    .single-sfwd-quiz,
    .feedback-thank-you,
    .course-feedback,
    .course-resources,
    .course-discussion,
    #comments{
	.ld-tabs-content{
	    margin-top: 50px;
	}
    }
    .learndash-wrapper .ld-focus {
	.mobile-progress {
	    display: none;
	}
	.close-course{
	    display: none;
	}
    }
}
@include media-breakpoint-down(sm) {
    .learndash-wrapper .ld-focus {
	display: flex;
	flex-direction: column-reverse;
	.ld-focus-header{
	    .ld-progress,
	    .ld-mobile-nav{
		display: none;
	    }
	    .ld-brand-logo{
		display: block!important;
	    }
	    .course-heading{
		margin-bottom: 0;
		font-size: 15px;
	    }
	}
	.ld-focus-content{
	    margin: 0!important;
	    padding: 0!important;
	}
	.ld-focus-sidebar{
	    position: static;
	    width: 100%;
	}
	.mobile-progress{
	    padding: 0 1rem;
	}
	.ld-content-actions{
	    flex-direction: row!important;
	    justify-content: space-between;
	    flex-wrap: wrap;
	    .ld-content-action{
		order: unset;
		flex: 0 0 50%;
		width: 50%!important;
		padding: 0;
	    }
	}
	/* Course Fedd Back    */
	.ff-form{
	    td:nth-child(2)::after {
		content: "Strongly Disagree";
		margin-left: 15px;
		font-size: 14px;
	    }
	    td:nth-child(3)::after {
		content: "Disagree";
		margin-left: 15px;
		font-size: 14px;
	    }
	    td:nth-child(4)::after {
		content: "Neutral";
		margin-left: 15px;
		font-size: 14px;
	    }
	    td:nth-child(5)::after {
		content: "Agree";
		margin-left: 15px;
		font-size: 14px;
	    }
	    td:nth-child(6)::after {
		content: "Strongly Agree";
		margin-left: 15px;
		font-size: 14px;
		margin-left: 15px;
	    }

	    td {
		display: block;
		width: 100%;
	    }

	    table tr td {
		text-align: left !important;
	    }
	    tbody tr:first-child {
		display: none;
	    }
	    table tr {
		border-bottom: 1px solid #dbd4d4;
	    }
	    #ff-compose .form-check-label {
		margin-top: -9px;
		margin-right: 10px;
	    }
	    td {
		border-bottom: none !important;
	    }
	    tr .ff-grid-label {
		display: block;
		width: 327px;
		font-size: 15px;
		font-weight: 600;
	    }
	}
    }
    .ld-content-actions{
	display: none!important;
    }
    .close-course{
	display: none;
	position: absolute;
	right: 10px;
    }
    .feedback-thank-you,
    .course-feedback,
    .course-resources,
    .course-discussion,
    #comments,
    .single-sfwd-quiz{
	.ld-focus-header,
	.ld-focus-sidebar{
	    display: none!important;
	}
	.close-course{
	    display: inline-block;
	}
	.ld-content-actions{
	    display: flex!important;
	}
    }
    .feedback-thank-you,
    .course-feedback,
    .course-resources,
    .course-discussion,
    #comments{
	padding: 0 10px;
    }
    .course-discussion{
	.ld-content-actions{
	    .ld-content-action:not(.content-title){
		display: none;
	    }
	}
    }
    .single-sfwd-quiz{
	.learndash-wrapper{
	    padding: 0 5px;
	}
	.answers-info{
	    justify-content: space-between!important;
	    flex-wrap: wrap!important;
	    flex-direction: row!important;
	    padding: 0!important;
	    width: 100%!important;
	    flex: 0 0 100%!important;
	    margin-bottom: 1rem;
	    span{
		font-size: 15px!important;
	    }
	}
    }
}