@include media-breakpoint-up(sm) {
}
@include media-breakpoint-only(sm) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
    #contact{
	.contact-wrp{
	    padding: rem(23px 100px 53px);
	    border: rem(32px) solid transparent;
	}
    }
    .blog{
	.main{
	    width: 77%;
	}
	.aside{
	    width: 23%;
	}
    }
}
@media(min-width: 1400px){
    html{
	font-size: vw(15px);
    }
    .container{
	max-width: rem(1170px);
    }
}
@media(min-width: 1600px){
    html{
	font-size: vw(14.212px);
    }
}
@media(min-width: 2000px){
    html{
	font-size: 17px;
    }
    .container{
	max-width: 1470px;
    }
}

@include media-breakpoint-down(md) {
    .round-image{
	margin-bottom: 2rem;
    }
}