@include media-breakpoint-up(sm) {
}
@include media-breakpoint-only(sm) {
}
@include media-breakpoint-up(md) {
    html{
	font-size: 16px;
    }
}
@media(min-width: 961px){
    .img-section{
	.col-lg-6:nth-child(1){
	    position: relative;
	    z-index: 1;
	    .img-box {
		height: 100%;
	    }
	    img{
		object-fit: cover;
		height: 100%;
		width: auto;
	    }
	}
	.col-lg-6:nth-child(2){
	    display: flex;
	    padding: 3rem 0;
	    flex-direction: column;
	    justify-content: center;
	    align-items: flex-start;
	    padding-left: rem(40px);
	    padding-right: rem(80px);
	    > * {
		max-width: 27rem;
		width: 100%;
	    }
	}
	&.invert{
	    .row{
		flex-direction: row-reverse;
	    }
	    .col-lg-6:nth-child(2){
		align-items: flex-end;
	    }
	}
	.text-block{
	    p:last-child{
		margin-bottom: 0;
	    }
	}
    }
}
@include media-breakpoint-up(lg) {
    html{
	font-size: 20px;
    }
    #main-banner{
	.col-lg-6{
	    padding: rem(40px 65px);
	}

    }
}
@media(min-width: 1400px){
    .container.w-1260{
	max-width: 1290px;
    }
    .btn-lg {
	padding: .95rem 1rem;
	font-size: 1.4rem;
	border-radius: .25rem;
    }
    #cta{
	padding-top: 7.5rem!important;
	padding-bottom: 9rem!important;
	.fw-special-title{
	    font-size: rem(48px);
	}
	.btn{
	    min-width: rem(462px);
	}
    }
    .page-id-11{
	#main-banner{
	    .container{
		max-width: 1100px;
	    }
	    .col-lg-6 {
		padding: 4rem 3.25rem;
	    }
	}
    }
}
@include media-breakpoint-down(sm) {
    .page-id-11{
	#main-banner{
	    .img-box{
		max-width: 40vw;
	    }
	}
    }
}