@media(min-width:375px){
    .styled{
	font-size: rem(17px);
	.icon{
	    font-size: rem(24px);
	    margin-right: 1rem;
	}
    }
}
@media(min-width:414px){
    .instructor-info{
	.spec{
	    columns: 2;
	}
    }
}
@include media-breakpoint-up(sm) {
    .card{
	.card-title{
	    @include font-size(rem(16px));
	}
	.card-text{
	    font-size: rem(13px);
	}
	.instructor{
	    font-size: rem(13px);
	}
	.info{
	    font-size: rem(13px);
	    .icon{
		font-size: rem(17px);
	    }
	}
    }
}
@include media-breakpoint-up(md) {
    .home .btn-outline-primary{
	min-width: rem(295px);
    }
    .pagination{
	.page-link{
	    padding: 0.8rem 0.8rem;
	    min-width: rem(48px);
	}
    }
    .mailpoet_form{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	.mailpoet_message,
	.mailpoet_hp_email_label{
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.mailpoet_paragraph{
	    flex: 0 0 auto;
	}
	.mailpoet_text{
	    min-width: rem(400px);
	}
	.mailpoet_submit{
	    margin-left: 1rem!important;
	}
    }
    #newsletter{
	.mailpoet_form{
	    justify-content: center;
	}
    }
    ul.heateor_sss_sharing_ul{
	li+li{
	    margin-left: 1rem!important;
	}
	.heateorSssSharing{
	    width: rem(40px)!important;
	    height: rem(40px)!important;
	    padding: rem(5px);
	}
    }
    #main-banner{
	min-height: 45rem;
    }
    .avatar-wrp{
	max-width: rem(230px);
    }
}
@include media-breakpoint-up(lg) {
    .card-rows > .col{
	flex: 0 0 auto;
	width: 25%;
    }
    #contact{
	.contact-wrp{
	    padding: rem(23px 100px 53px);
	    border-widt: rem(32px);
	}
    }
    .main{
	width: 77%;
    }
    .aside{
	width: 23%;
	padding-left: 2rem;
    }
    .pagination{
	margin-top: 2rem;
	margin-bottom: 4rem;
    }
    .single-post{
	.entry-content{
	    position: relative;
	}
	.social-top{
	    position: absolute;
	    left: -15%;
	    top: 0;
	    height: 100%;
	    .heateor_sss_sharing_container{
		position: sticky;
		top: 1rem;
	    }
	    .heateor_sss_sharing_ul{
		display: flex;
		flex-direction: column;
		a{
		    margin: 0 0 1rem 0!important;
		}
	    }
	}
    }
    .single-sfwd-courses{
	padding-top: rem(90px);
	.course-header{
	    min-height: calc(100vh - 6rem);
	}
	.site-header{
	    background-color: #fff;
	    position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	}
    }
    .course-header{
	padding: 15vh 0 rem(50px)!important;
	min-height: 100vh;
    }
    .retreat-tabs{
	li{
	    margin-right: rem(48px);
	}
    }
    .card-consulting{
	.card-body{
	    padding: rem(29px);
	}
    }
    .single-retreat{
	.card-course{
	    top: 8rem;
	}
    }
    .modal{
	.modal-header,
	.modal-body{
	    padding-left: rem(48px);
	    padding-right: rem(48px);
	}
    }
}
@include media-breakpoint-up(xl) {
    .h1, h1 {
	font-size: rem(64px);
    }
    .h2, h2 {
	font-size: rem(48px);
    }
    .card-course{
	.card-body{
	    padding: rem(32px);
	}
    }
}
@media(min-width: 1400px){
    html{
	font-size: vw(15px);
    }
    .container{
	max-width: rem(1170px);
    }
    .single-post{
	.entry-content{
	    max-width: 850px;
	}
    }
    .btn:not(.btn-sm){
	font-size: 20px;
	padding: 12px 24px;
    }
}
@media(min-width: 1600px){
    html{
	font-size: vw(14.212px);
    }
}
@media(min-width: 2000px){
    html{
	font-size: 17px;
    }
    .container{
	max-width: 1470px;
    }
}

@include media-breakpoint-down(lg) {
    .card-rows > .col{
	flex: 0 0 auto;
	width: 50%;
    }
}
@include media-breakpoint-down(md) {
    .round-image{
	margin-bottom: 2rem;
    }
}
@include media-breakpoint-down(sm) {
    .round-image{
	margin-bottom: 2rem;
    }
    .post-meta{
	font-size: 1rem;
    }
    #main-banner{
	background-position: 60% 50%;
    }
    .card-rows > .col{
	width: 100%;
    }
    .learndash-wrapper .ld-item-list .ld-item-list-item .ld-item-list-item-preview {
	flex-direction: row!important;
	align-items: center;
	width: 100%;
	.ld-item-details{
	    margin-left: 0;
	}
	.ld-item-components{
	    flex: 0 0 75px;
	    padding-left: 10px;
	}
    }
    .products{
	--bs-gutter-x: 1rem;
    }
}
