$title: $gray-900;
$main-text: $gray-700;
$acc1: $green;
$acc2: $blue;
$acc3: $orange;
$icons: $gray-500;
$line: $gray-300;
$bg: $gray-100;

*{
    outline: none!important;
}
a{
    transition: all .3s ease;
}
html{
    font-size: 15px;
}
body{
    min-width: 320px;
    position: relative;
}
.wpcf7 .ajax-loader{
    display: none;
}
.icon svg,
svg.icon{
    width: 1em;
    height: 1em;
}
.invalid{
    .form-control:invalid{
	border-color: $primary;
    }
}
.btn{
    text-transform: uppercase;
}
.caps{
    font-weight: 700;
    text-transform: uppercase;
    font-size: rem(13px);
}
/*Section*/
.content-section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-left: auto;
    margin-right: auto;
    .container-fluid{
	padding: 0;
	overflow: hidden;
    }
}
.bg-gray{
    background-color: $bg;
}
.round-image{
    max-width: rem(480px);
}
.video-link{
    display: flex;
    align-items: center;
    color: $acc2;
    .icon{
	font-size: rem(32px);
	margin-right: 1rem;
    }
}
#contact{
    margin-top: rem(-70px);
    .contact-wrp{
	box-sizing: border-box;
	background-color: #fff;
	max-width: rem(944px);
	padding: rem(23px 25px 53px);
	border: rem(20px) solid transparent;
	border-image: 16 repeating-linear-gradient(-45deg, #E64E48 0, #E64E48 2.5em, transparent 0, transparent 5em, #2C5AA1 0, #2C5AA1 7.5em, transparent 0, transparent 10em);
    }
}
.styled{
    padding-left: 0;
    list-style: none;
    font-size: rem(17px);
    color: $title;
    font-weight: 700;
    li+li{
	margin-top: .8rem;
    }
    .icon{
	font-size: rem(24px);
	margin-right: 1rem;
    }
}
#main-banner{
    display: flex;
    align-items: center;
    min-height: rem(750px);
    .fw-special-subtitle{
	display: inline-block;
	border-bottom: rem(4px) solid $acc3;
	padding-bottom: .3rem;
    }
    .text-block{
	max-width: rem(420px);
    }
}
.blog{
    .wp-post-image{
	border-radius: $border-radius;
    }
}
.cats-widget{
    list-style: none;
    padding-left: 0;
    li{
	+li{
	    margin-top: .8rem;
	}
	a{
	    color: $title;
	    font-weight: 700;
	}
    }
    .current-cat {
	a{
	    color: $acc3;
	}
    }
}
.pagination{
    .page-link{
	font-weight: 700;
	min-width: rem(36px);
	text-align: center;
    }
}
.mailpoet_form{
    .mailpoet_text{
	width: 100%!important;
	padding: $input-padding-y $input-padding-x!important;
	font-family: $input-font-family;
	@include font-size($input-font-size);
	font-weight: $input-font-weight;
	line-height: $input-line-height;
	color: $input-color;
	background-color: $input-bg;
	background-clip: padding-box;
	border: $input-border-width solid $input-border-color;
	appearance: none;

	@include border-radius($input-border-radius, 0);

	&:focus {
	    color: $input-focus-color;
	    background-color: $input-focus-bg;
	    border-color: $input-focus-border-color;
	    outline: 0;
	}
	&::placeholder {
	    color: $input-placeholder-color;
	    opacity: 1;
	}

    }
    .mailpoet_submit{
	display: inline-block;
	font-weight: 700;
	line-height: 1.7;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-color: $acc3;
	border: 1px	solid $acc3;
	font-size: .86667rem;
	border-radius: 0.26667rem;
	text-transform: uppercase;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	padding: 0.8rem 2.13333rem!important;
    }
}
.single-post{
    .post-meta{
	.date{
	    margin-left: 1rem;
	    padding-left: 1rem;
	    position: relative;
	    display: inline-block;
	    &:before{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(-50%, -50%);
		width: rem(4px);
		height: rem(4px);
		background-color: $acc2;
		border-radius: 50%;
	    }
	}
    }
    .entry-content{
	max-width: rem(750px);
	margin-left: auto;
	margin-right: auto;
    }
}

.entry-content{
    h1, h2, h3{
	@include font-size(rem(24px));
	margin-top: 2rem;
    }
}