$title: $gray-900;
$main-text: $gray-700;
$acc1: $green;
$acc2: $blue;
$acc3: $orange;
$icons: $gray-500;
$line: $gray-300;
$bg: $gray-100;

*{
    outline: none!important;
}
a{
    transition: all .3s ease;
}
html{
    font-size: 15px;
}
body{
    min-width: 320px;
    position: relative;
}
.wpcf7 .ajax-loader{
    display: none;
}
.icon svg,
svg.icon{
    width: 1em;
    height: 1em;
}
.invalid{
    .form-control:invalid{
	border-color: $primary;
    }
}
.btn{
    text-transform: uppercase;
}
.caps{
    font-weight: 700;
    text-transform: uppercase;
    font-size: rem(13px);
}
/*Section*/
.content-section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-left: auto;
    margin-right: auto;
    .container-fluid{
	padding: 0;
	overflow: hidden;
    }
}
.bg-gray{
    background-color: $bg;
}
.round-image{
    max-width: rem(480px);
}
.video-link{
    display: flex;
    align-items: center;
    color: $acc2;
    .icon{
	font-size: rem(32px);
	margin-right: 1rem;
    }
}
#contact{
    margin-top: rem(-70px);
    .contact-wrp{
	box-sizing: border-box;
	background-color: #fff;
	max-width: rem(944px);
	padding: rem(23px 100px 53px);
	border: rem(32px) solid transparent;
	border-image: 16 repeating-linear-gradient(-45deg, #E64E48 0, #E64E48 2.5em, transparent 0, transparent 5em, #2C5AA1 0, #2C5AA1 7.5em, transparent 0, transparent 10em);
    }
}