@media (min-width: 2000px) {
    body.admin-bar .learndash-wrapper .ld-focus .ld-focus-sidebar {
        padding-bottom: 0 !important;
    }
}

@media (min-width: 1920px) {
    body.admin-bar .learndash-wrapper .ld-focus .ld-focus-sidebar {
        padding-bottom: 0 !important;
    }

}
@media screen and (max-width: 2000px) and (min-width: 1920px) {
    body.admin-bar .learndash-wrapper .ld-focus div.ld-focus-sidebar {
	padding-bottom: 0!important;
    }
    body .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content {
	width: 90% !important;
    }

}

@media screen and (max-width: 1280px) {
    .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content .elementor-widget:first-child {
        margin-bottom: 10px;
    }

    .learndash-wrapper .ff-form tbody tr:first-child td {
        line-height: 24px;
        vertical-align: top;
    }
    .learndash-wrapper .wpProQuiz_quiz .ld-content-actions {
	margin-top: -58px;
    }
}
@media screen and (max-width: 1366px) and (min-width: 1360px) {
    body.admin-bar .learndash-wrapper .ld-focus div.ld-focus-sidebar {
	padding-bottom: 0 !important;
    }
    .learndash-wrapper .wpProQuiz_quiz .ld-content-actions {
	margin-top: -58px;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1200px) {
    body .learndash-wrapper .ld-focus .ld-focus-sidebar,
    body.admin-bar .learndash-wrapper .ld-focus div.ld-focus-sidebar {
	padding-bottom: 0 !important;
    }
}
@media (max-width:1260px) {

    .learndash-wrapper .elementor-heading-title.elementor-size-default .ld-content-actions .ld-content-action #learndash_mark_complete_button,
    .learndash-wrapper .ld-tabs-content .ld-button,
    .learndash-wrapper .ld-tabs-content .ld-content-actions .ld-button .ld-text {
        font-size: 18px !important;
        padding: 0 6px;
        font-weight: 600;
    }

    .learndash-wrapper .elementor-widget-video+.elementor-widget-heading .elementor-heading-title.elementor-size-default {
        font-size: 18px;
        flex-wrap: wrap;
    }

    .learndash-wrapper .elementor-heading-title.elementor-size-default .ld-content-actions .ld-content-action .uo-done-redirect:after,
    .learndash-wrapper .ld-tabs-content .ld-content-actions .ld-button .ld-icon,
    .learndash-wrapper .ld-button .ld-icon {
	font-size: 14px !important;
	line-height: inherit !important;
    }

    .learndash-wrapper .elementor-heading-title.elementor-size-default .ld-content-actions .ld-content-action #learndash_mark_complete_button {
	padding: 0 20px 0 0 !important;
    }
}

@media only screen and (max-width: 1040px) and (min-width: 980px) {
    .learndash-wrapper .elementor-heading-title.elementor-size-default .ld-content-actions {
	margin-top: 0px;
    }
    .learndash-wrapper .wpProQuiz_quiz span.correct-answers,
    .learndash-wrapper .wpProQuiz_quiz span.incorrect {
	font-size: 14px !important;
    }
}
@media (max-width: 1160px) {
    /* .learndash-wrapper span.incorrect, */
    /* .learndash-wrapper span.correct-answers, */
    .learndash-wrapper a.retake-quiz,
    .learndash-wrapper a.next-module {
	width: fit-content !important;
	width: -moz-fit-content !important;
	margin-right: 10px !important;
    }
    .wpProQuiz_quiz .ld-content-actions {
	margin-top: -52px !important;
    }

    .learndash-wrapper .ld-button,
    .learndash-wrapper .ld-content-actions .ld-button .ld-text {
	font-size: 18px !important;
    }
    .ldx-plugin .learndash .wpProQuiz_content {
	margin-top: 0 !important;
	padding: 0 6px !important;
    }
    body .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content {
	width: 93% !important;
    }
    .learndash-wrapper .wpProQuiz_quiz span.correct-answers,
    .learndash-wrapper .wpProQuiz_quiz span.incorrect {
	font-size: 16px !important;
    }
}

@media (max-width: 960px) {

    body.admin-bar .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content,
    .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content,
    .learndash-wrapper .ld-focus.ld-focus-sidebar-collapsed .ld-focus-main .ld-focus-content {
        padding: 0 !important;
        width: 100%;
    }

    .learndash-wrapper .ld-focus.ld-focus-sidebar-collapsed .ld-focus-main .ld-focus-content {
        margin-left: 0 !important;
        width: 100% !important;

    }

    .learndash-wrapper .ld-focus.ld-focus-sidebar-collapsed .ld-focus-sidebar {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }

    .learndash-wrapper .ld-focus.ld-focus-sidebar-collapsed .ld-focus-main {
        margin-left: 0 !important;
        width: 100% !important;
    }

    .learndash-wrapper .elementor-widget-video+.elementor-widget-heading .elementor-heading-title.elementor-size-default {
        padding-left: 4px;
        padding-right: 4px;
    }

    .learndash-wrapper .elementor-widget-heading.discussion-heading .elementor-heading-title.elementor-size-default {
	padding-right: 16px;
	padding-left: 16px;
    }

    .learndash-wrapper .ld-focus-comments {
	padding-left: 16px;
	padding-right: 16px;
    }
}

@media (max-width: 834px) {

    body.admin-bar .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content,
    .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content,
    .learndash-wrapper .ld-focus.ld-focus-sidebar-collapsed .ld-focus-main .ld-focus-content {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .learndash-wrapper .ld-focus .ld-focus-main {
        margin-left: 0 !important;
        width: 100% !important;
    }

    .learndash-wrapper .elementor-heading-title.elementor-size-default .ld-content-actions .ld-content-action {
        margin-bottom: 0;
    }

    .learndash-wrapper .ld-focus-header {
        justify-content: flex-start !important;
    }

    .learndash-wrapper .ld-focus .ld-focus-header .ld-mobile-nav {
        margin-right: auto;
    }

    .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content .elementor-widget:first-child {
        margin-bottom: 0 !important;
    }

    body .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content {
	margin-top: 60px !important;
    }
    .learndash-wrapper .ld-focus-content .elementor-section .elementor-element-populated .elementor-widget-wrap .elementor-widget-image .elementor-image>a,
    .learndash-wrapper .ld-focus-content .elementor-section .elementor-element-populated .elementor-widget-wrap .elementor-widget-image .elementor-image figure>a {
	display: block;
    }

    .learndash-wrapper .ld-focus-content .elementor-section .elementor-element-populated .elementor-widget-wrap .elementor-widget-image .elementor-image img {
	display: block;
	width: 100%;
    }

}

/*@media (max-width: 767px) {
    .learndash-wrapper .elementor-widget-video+.elementor-widget-heading .elementor-heading-title.elementor-size-default {
        font-size: 16px !important;
    }
}*/

@media screen and (max-width: 680px) {

    .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content,
    .learndash-wrapper .ld-focus.ld-focus-sidebar-collapsed .ld-focus-main .ld-focus-content {
        padding: 0px 0 0 !important;
        width: 100%;
        margin: 0;
        margin-top: 20px !important;
    }
    .learndash-wrapper .elementor-widget-video+.elementor-widget-heading .elementor-heading-title.elementor-size-default {
	padding-left: 4px;
	padding-right: 4px;
    }
}

@media only screen and (max-width: 480px) and (min-width: 280px) {

    body .learndash-wrapper .ld-focus .ld-focus-main div.ld-focus-content {
	padding: 0px !important;
	margin-top: 20px !important;
        width: 100% !important;
    }

    body.admin-bar .learndash-wrapper .ld-focus-header {
        margin-bottom: 10px;
    }

    .learndash-wrapper .ld-focus {
        flex-direction: column;
    }

    .learndash-wrapper .ld-tabs-content {
        overflow: visible !important;
    }

    body.ld-in-focus-mode.admin-bar .ld-focus-sidebar {
        min-height: 500px !important;
        position: relative !important;
        order: 2;
        overflow: auto;
        background: white;
    }

    body .learndash-wrapper .ld-tabs-content {
        height: auto !important;
    }

    .learndash-wrapper .elementor-fit-aspect-ratio {
        padding-bottom: 0 !important;
        height: auto;
    }

    .learndash-wrapper .elementor-fit-aspect-ratio iframe {
        position: static;
        height: 220px !important;
        margin-top: 0 !important;
    }

    .learndash-wrapper .mobile-progress {
        align-items: flex-start;
        justify-content: flex-end;
        min-height: 40px;
    }

    .learndash-wrapper .mobile-progress .ld-progress {
        margin-top: 6px;
    }

    .learndash-wrapper .switch {
        position: relative !important;
        margin-top: 0;
    }

    .learndash-wrapper .slider::before {
        height: 12px !important;
        width: 12px !important;
        left: 2px !important;
        bottom: 2px !important;
    }

    .learndash-wrapper .light-dark-btn {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        top: 0 !important;
    }

    .learndash-wrapper .light-dark-btn span.ld-text {
        margin-top: 2px;
    }

    body .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content>h1 {
        display: none !important;
    }


    /* .learndash-wrapper .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
        padding: 0 10px 10px;
    } */

    .learndash-wrapper .elementor-6446 .elementor-element.elementor-element-3bb72c84 .elementor-button,
    .learndash-wrapper .elementor-6446 .elementor-element.elementor-element-6eb91074 .elementor-button {
        padding-top: 10px;
    }

    .learndash-wrapper .ld-focus-comments__header {
        font-size: 20px;
    }

    .learndash-wrapper .mob-heading h2.elementor-heading-title.elementor-size-default {
        margin-left: 16px;
    }

    .learndash-wrapper .ld-focus-comments .comment #respond {
        padding-right: 16px;
        padding-bottom: 16px;
    }

    .learndash-wrapper .wpProQuiz_quiz .ld-content-actions{
	margin-top: 0 !important;
	width: 100% !important;
    }
    .learndash-wrapper .ld-content-actions .ld-button .ld-text {
	font-size: 15px !important;
    }
    .learndash-wrapper .wpProQuiz_content {
	padding: 0 8px;
    }
    .learndash-wrapper {
	margin-bottom: 0 !important;
    }
    .learndash-wrapper .wpProQuiz_quiz span.incorrect {
	margin-right: 0 !important;
    }
}
@media only screen and (max-width: 480px) and (min-width: 401px) {
    .learndash-wrapper .ld-tabs-content {
	height: fit-content !important;
	height: -moz-fit-content !important;
    }
}
@media only screen and (max-width: 330px) and (min-width: 280px) {
    .learndash-wrapper .ld-tabs-content {
	height: fit-content !important;
	height: -moz-fit-content !important;
    }
}
@media only screen and (max-width: 380px) and (min-width: 370px) {
    .learndash-wrapper .ld-tabs-content {
	height: fit-content !important;
	height: -moz-fit-content !important;
    }
}


@media screen and (min-width:768px) {
    html[lang] {
        margin-top: 0 !important;
    }
}
@media screen and (max-width:375px) {
    body .learndash-wrapper .ld-focus .ld-focus-main div.ld-focus-content {
	margin-top: 20px !important;
    }
}
/* feedback_thank-you */

@media screen and (min-width:1366px) {
    .learndash-wrapper .learndash.learndash_post_sfwd-lessons .elementor-section:nth-child(2) .elementor-element.elementor-top-column .elementor-heading-title.elementor-size-default {
	font-size: 22px;
    }
}

@media screen and (max-width: 1040px) and (min-width: 980px) {
    .learndash-wrapper .learndash.learndash_post_sfwd-lessons .elementor-section:nth-child(2) .elementor-element.elementor-top-column .elementor-heading-title.elementor-size-default {
	font-size: 15px !important;
    }
}
@media screen and (max-width:767px) {
    .learndash-wrapper .learndash.learndash_post_sfwd-lessons .elementor-section:nth-child(2) .elementor-element.elementor-top-column .elementor-heading-title.elementor-size-default {
	font-size: 22px;
    }
    .learndash-wrapper .wpProQuiz_quiz .ld-content-actions div:nth-child(1) a.ld-button.ld-button-transparent{
	display:flex;
	justify-content: flex-start;
    }
    .learndash-wrapper .wpProQuiz_quiz .ld-content-actions div:nth-child(1){
	padding-left: 0 !important;
    }
    .learndash-wrapper .wpProQuiz_quiz .ld-content-actions div:nth-child(2) a.ld-button.ld-button-transparent{
	display:flex;
	justify-content: flex-end;
    }
    .learndash-wrapper .wpProQuiz_quiz .ld-content-actions div:nth-child(1) a.ld-button.ld-button-transparent span,
    .learndash-wrapper .wpProQuiz_quiz .ld-content-actions div:nth-child(2) a.ld-button.ld-button-transparent span {
	font-size: 16px !important
    }
}
/*Styles from plugin */
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */
.hidden-item{
    display: none !important;
}

.ml{
    margin-left:0px !important;
}

.lanscape-padding{
    padding: 23px 5em 0em 5em !important;

}

.lqc-plugin .learndash .wpProQuiz_content .wpProQuiz_QuestionButton:hover{
    background-color: #F29D17 !important;
}
input.wpProQuiz_button.wpProQuiz_QuestionButton {
    font-family: "Open Sans", Sans-serif !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
    background-color: #0D9FEC;
    color: #FFFFFF !important;
    border-radius: 3px 3px 3px 3px !important;
    padding: 10px 15px 10px 15px !important;
}

span.incorrect {
    font-family: "Open Sans", Sans-serif !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    border-radius: 3px !important;
    line-height: 18px !important;
}
span.correct-answers {
    font-family: "Open Sans", Sans-serif !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    border-radius: 3px !important;
    line-height: 18px !important;
}

.bg-incorrect{
    background-color: #ffcdd2 !important;
}
.bg-correct{
    background-color: #c8e6c9 !important;
}

.wpProQuiz_answerIncorrect label.light-bg.white-text.is-selected {
    background: #ffcdd2 !important;
    color:black !important;
}

.wpProQuiz_answerCorrectIncomplete label.light-bg.white-text{
    background: #c8e6c9 !important;
    color:black !important;
}

h4.customquiztext {
    line-height: 20px;
}

span.correct-answers {
    border-radius: 5px;
}

span.incorrect {
    border-radius: 5px;
}

.lqc-plugin .learndash .wpProQuiz_content .wpProQuiz_questionListItem label{
    font-size: 16px;
    font-family: 'Gotham Pro';
}

.ld-profile-avatar i.fa.fa-user {
    color: grey;
    font-size: 31px !important;
    margin-left: 5px;
    margin-top: 5px;
}
.ld-focus-content h1 {
    display: none;
}
iframe.elementor-video-iframe {
    background: transparent;
}
._bglight{
    background-color: #eee;
}
.learndash-wrapper .ld-course-navigation .ld-topic-list.ld-table-list .ld-table-list-item .ld-table-list-item-preview {
    border-top: 1px solid #ffffff00;
}

.learndash-wrapper .ld-button, .learndash-wrapper .ld-content-actions .ld-button{
    background: #ffffff00;
}

.learndash-wrapper .ld-focus-sidebar .ld-table-list .ld-table-list-items {
    background-color: transparent;
}
body.ld-in-focus-mode{
    background-color: transparent;
}
/* .learndash-wrapper .ld-focus .ld-focus-header {
   background-color: transparent;
} */

body.ld-in-focus-mode {
    background: transparent;
}

.learndash-wrapper .ld-focus .ld-focus-header .ld-brand-logo {
    background-color: transparent;
}
/* body{
  background: #383636 !important;
} */

body.ld-in-focus-mode .learndash-wrapper {
    background-color: transparent ;
}
.learndash-wrapper .ld-focus .ld-focus-sidebar {
    background-color: transparent ;
}

#ff-compose .form-check:nth-child(3){
    padding-left: 4px !important;
}
#ff-id-191469378 table{
    margin-bottom: 0px !important

}
.wpProQuiz_quiz .ld-content-actions{
    max-width: 460px !important;
    margin-top: -13px;
    width: 100%;

}
.learndash-wrapper .ld-content-actions .ld-content-action {
    padding: 5px 0px 5px 10px;
}
.learndash-wrapper .ld-button .ld-text {
    padding: 0 10px;
}
#ff-id-432549593 .form-check {
    position: relative;
}
#ff-id-432549593  input{
    position: absolute;
    left: 42px;
    top: 9px;
}




.learndash-wrapper .ld-content-actions .ld-button .ld-text {
    /*   font-size: 24px !important; */
    font-family: "Gotham Pro";
}

.learndash-wrapper .ld-focus .ld-focus-sidebar .ld-course-navigation .ld-lesson-item.ld-is-current-lesson .ld-lesson-item-preview .ld-lesson-title {
    color: #4a4a4a;
}
.learndash-wrapper .ld-focus .ld-focus-sidebar .ld-course-navigation .ld-topic-list.ld-table-list .ld-table-list-item .ld-table-list-item-preview.ld-is-current-item {
    background-color: #f4f4f400;
}
.white-text {
    color: #dedada !important;
}
.black{
    background:black !important;
}
.light-grey{
    border-color: #868282 !important;
}

.border-right{
    border-right: 1px solid #383636 !important;
}
.border-bottom{
    border-bottom: 1px solid #383636 !important;
}
.light-bg{
    background-color: #968f8f !important;
}

.dark-hover:hover {
    background: #968f8f !important;
}

.border-top{
    border-top: 1px solid #968f8f00 !important;
}

.light-dark-btn .ld-text {
    margin-top: 7px;
}

.mobile{
    display: none !important;
}


.mobile-progress {
    display: none;
}
.learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content {
    padding: 95px 5em 5em 5em
}

body.admin-bar .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content {
    padding: 65px 5em 5em 5em
}

.learndash-wrapper .ld-focus .ld-focus-sidebar .ld-focus-sidebar-wrapper{
    padding-top: 20px;
}
a.ff-powered-img {
    display: none;
}

.learndash-wrapper .ld-content-actions .ld-button:hover{
    color: #2196f3;
}

@media screen and (min-width: 992px) {
    span.ld-profile-avatar .fa {
	display: none;
    }
}

@media screen and (min-width: 768px) {

    .learndash-wrapper .ld-focus .ld-focus-sidebar{
	width: 315px !important;
    }
}


@media only screen and (max-width: 780px) and (min-width: 481px)  {

    .learndash-wrapper .ld-focus .ld-focus-sidebar {
	background-color: #fff;
    }

    .player .vp-controls .play {
	width: 5.5em !important;
	height: 3em !important;
    }

    .certificate-list {
	flex: 1 1 50% !important;
	max-width: 50% !important;
    }

    .wpProQuiz_quiz .ld-content-actions {
	width: 65%;
    }

}
@media only screen and (max-width: 480px) and (min-width: 280px)  {

    .wpProQuiz_quiz .ld-content-actions {
	display: block !important;
    }

    .ld-content-actions {
	display: none !important;
    }

    #player .vp-controls {
	font-size: 8px !important;
    }

    .learndash-wrapper .ld-focus-comments .form-submit #submit {
	margin-left: 0px !important;
	text-align: center;
	width: 100%;
    }

    .learndash-wrapper .ld-button {
	margin-left: 0;
    }
    .ld-icon {
	font-size: 12px !important
    }
    .learndash-wrapper .ld-content-actions div:nth-child(2) {
        width: 50%;
        padding-left: 35px;
    }
    .learndash-wrapper .ld-content-actions div:first-child{
	width: 50%;
    }
    .learndash-wrapper .ld-content-actions .ld-content-action {
	padding: 5px 0px 5px 0px;
    }

    .learndash-wrapper .ld-content-actions .ld-button .ld-text {
	font-size: 15px !important;
    }
    .learndash-cpt.learndash-cpt-sfwd-quiz .ld-focus-sidebar {
	display: none;
    }
    .learndash-cpt-sfwd-lessons-3358-current .ld-focus-sidebar {
	display: none;
    }
    .lqc-plugin .learndash .wpProQuiz_content .wpProQuiz_button {
	border-radius: 5px !important;
	width: 100%;
    }
    .learndash-cpt-sfwd-lessons-2850-current .ld-focus-sidebar {
	display: none;
    }

    #ff-compose .ff-form button{
	width: 100% !important;
    }
    .ff-form .form-check-label {
	padding-left: 40px !important;
    }
    #ff-id-432549593 input {
	position: absolute;
	left: 25px;
	top: -1px;
    }

    .ld-profile-avatar i.fa.fa-user {
	font-size: 25px !important;
	margin-left: 10px;
	color: #898989;
	margin-top: 7px;
    }

    .ld-progress-bar {
	display: none;
    }
    .learndash-template-ld30 .player .vp-controls {
	font-size: 7px !important;
    }
    .ld-focus-content h1 {
	display: none;
    }

    .ld-brand-logo.ct-logo {
	display: block !important;
    }

    h3.course-heading a {
	font-size: 15px !important;
    }
    h3.course-heading a:after {
	content: '' !important;
    }
    .ld-progress-percentage.ld-secondary-color {
	font-family: "Gotham pro";
	font-size: 14px !important;
    }

    #learndash_post_3358 .learndash-wrapper .ld-tabs-content{
	height: 0px !important;

    }

    .ld-focus-content h1 {
	position: absolute;
	left: 10%;
	top: -15%;
	z-index: 99;
    }

    .learndash-wrapper .ld-focus {
	display: flex;
	flex-wrap: wrap;

    }
    .ld-focus-content {
	position: relative;
    }
    .elementor-aspect-ratio-169 .elementor-fit-aspect-ratio {
	padding-bottom: 70.25%;
    }

    .ld-progress {
	display: none !important;
    }
    .mobile-progress .ld-progress {
	display: block !important;
    }

    .mobile-progress .learndash-wrapper .ld-progress{
	margin:0px !important
    }

    .switch {
	width: 36px !important;
	height: 16px !important;
	position: absolute !important;
	top: 0px;
    }

    .slider:before{
	height: 11px !important;
	width: 11px !important;
	left: 2px !important;
	bottom: 2.4px !important;

    }

    .ld-progress-percentage{
	font-size: 12px !important;
    }

    .light-dark-btn {
	top: 10px !important;
    }

    .mobile-progress {
	display: block;
    }
    .mobile-progress {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 20px;
	min-height: 50px;
    }
    .learndash-wrapper .ld-focus .ld-focus-sidebar .ld-focus-sidebar-wrapper {
	padding: 0px 20px;
    }

    .light-dark-btn span.ld-text {
	padding-left: 20px !important;
    }
    .mobile-progress .ld-progress-steps {
	display: none;
    }

    .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content > h1 {
	font-size: 14px;
	display: block !important;
	line-height: 15px;
	max-width: 280px;
    }

    .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content{
	margin: 0px auto !important;
    }

    .ld-focus-sidebar-wrapper{
	margin-top: -5px;
	height:auto !important;
    }

    .light-dark-btn {
	position: absolute;
	top: -23px;
    }

    .mobile{
	display: block !important;
    }
    .desktop{
	display: none !important;
    }

    .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content{
	margin: 0px auto !important;
	padding: 1% 1.5em 1% 1.5em;
    }

    .ld-content-action.check-next {
	display: none !important;
    }

    #youzer .yz-page-main-content {
	margin-bottom: 0px!important;
    }

    .ld_course_grid {
	margin-bottom: 20px !important;
    }
    .certificate-list {
	flex: 1 1 100% !important;
	max-width: 100% !important;
    }

    .ld-focus-sidebar{
	transition: none !important;
    }
    body.admin-bar .learndash-wrapper .ld-focus-sidebar {
	top: 0px;
    }

    /* sidebar    */
    body.ld-in-focus-mode.admin-bar .ld-focus-sidebar {
	min-height: 500px !important;
	position: relative !important;
	order:2;
	overflow: auto;
	background: white;
    }
    body.ld-in-focus-mode .ld-focus-sidebar {
	min-height: 500px !important;
	position: relative !important;
	overflow: auto;
	order:2;
	background: white;
    }
    ld-focus-content{
	margin:0px !important;
    }

    .learndash-wrapper .ld-focus .ld-focus-sidebar{
	width:100%;
	position:relative;
	order:2;

    }


    .arrow-mobile-nav i {
	color: #42a2f1;
	padding-left: 10px;
	padding-top: 8px;
	font-size: 20px !important;
	/* font-weight: 500; */
    }

    .arrow-mobile-nav{
	display:block !important;
    }
    .ld-mobile-nav{
	display:none !important;
    }

    /* Course Fedd Back    */

    .learndash-wrapper td:nth-child(2)::after {
	content: "Strongly Disagree";
	margin-left: 15px;
	font-size: 14px;
    }
    .learndash-wrapper td:nth-child(3)::after {
	content: "Disagree";
	margin-left: 15px;
	font-size: 14px;
    }
    .learndash-wrapper td:nth-child(4)::after {
	content: "Neutral";
	margin-left: 15px;
	font-size: 14px;
    }
    .learndash-wrapper td:nth-child(5)::after {
	content: "Agree";
	margin-left: 15px;
	font-size: 14px;
    }
    .learndash-wrapper td:nth-child(6)::after {
	content: "Strongly Agree";
	margin-left: 15px;
	font-size: 14px;
	margin-left: 15px;
    }

    td {
	display: block;
    }


    .ff-form table tr td {
	text-align: left !important;
    }

    .ff-form tbody tr:first-child {
	display: none;
    }
    .ff-form table tr {
	border-bottom: 1px solid #dbd4d4;
    }
    #ff-compose .form-check-label {
	margin-top: -9px;
	margin-right: 10px;
    }

    .ff-form .ff-powered-img img {
	max-width: 80%;
    }
    .ff-form td {
	border-bottom: none !important;
    }
    div#ff-id-275251803 {
	margin-top: 0px;
    }
    .learndash-wrapper.course-discussion .ld-focus-comment .ld-comment-body{
        margin-left: 20px!important;
    }
    .learndash-wrapper.course-discussion .ld-focus-main .ld-focus-comments .comment #respond{
	padding-left: 20px!important;
    }

    .ld-comment-body span.more-text {
	display: none;
    }
    span.read-color {
	color: #03A9F4;
    }
    .ld-comment-author-name {
	font-size: 14px !important;
	color: #4a4a4a;
    }
    .ld-focus-comments__form-container {
	margin-left: 0px;
    }
    .learndash-wrapper .ld-focus-comment.depth-2{
	margin-left: 0px !important;
    }


    .ld-focus-comments__form-container {
	margin-left: 0px !important;
    }


    .learndash-cpt-sfwd-lessons-3358-current .ld-focus-content h1 {
	top: -32px;
    }

    /* Hide side Bar on some page   */


    .learndash-cpt-sfwd-lessons-2850-current  .learndash-wrapper .ld-tabs-content {
	height: unset;
	overflow: unset;
    }


    .learndash-cpt-sfwd-lessons-2850-current .ld-focus-sidebar-wrapper{
	display: none !important;

    }
    .learndash-cpt-sfwd-lessons-2850-current.ld-in-focus-mode.admin-bar .ld-focus-sidebar {
	min-height: 0px !important;
    }
    .learndash-cpt-sfwd-lessons-2850-current .ld-progress-wrap {
	display: none;
    }

    .learndash-cpt-sfwd-lessons-2850-current .learndash-wrapper .ld-focus .ld-focus-sidebar {
	padding-bottom: 10px !important;
    }

    .learndash-cpt-sfwd-lessons-2850-current .ld-focus-content h1 {
	top: -31px;

    }

    .learndash-cpt-sfwd-lessons-3358-current  .learndash-wrapper .ld-tabs-content {
	height: unset;
	overflow: unset;
    }


    .learndash-cpt-sfwd-lessons-3358-current .ld-focus-sidebar-wrapper{
	display: none !important;

    }
    .learndash-cpt-sfwd-lessons-3358-current.ld-in-focus-mode.admin-bar .ld-focus-sidebar {
	min-height: 0px !important;
    }
    .learndash-cpt-sfwd-lessons-3358-current .ld-progress-wrap {
	display: none;
    }

    .learndash-cpt-sfwd-lessons-3358-current .learndash-wrapper .ld-focus .ld-focus-sidebar {
	padding-bottom: 10px !important;
    }

    .learndash-cpt-sfwd-lessons-3358-current  .learndash-wrapper .ld-tabs-content {
	height: unset;
	overflow: unset;
    }


    .learndash-cpt-sfwd-quiz-3144-current .ld-focus-sidebar-wrapper{
	display: none !important;

    }
    .learndash-cpt-sfwd-quiz-3144-current.ld-in-focus-mode.admin-bar .ld-focus-sidebar {
	min-height: 0px !important;
    }
    .learndash-cpt-sfwd-quiz-3144-current .ld-progress-wrap {
	display: none;
    }

    .learndash-cpt-sfwd-quiz-3144-current .learndash-wrapper .ld-focus .ld-focus-sidebar {
	padding-bottom: 10px !important;
    }

    .learndash-cpt-sfwd-quiz-3144-current .mobile-progress{
	margin-top:50px;
    }
    .learndash-wrapper .ld-profile-avatar img {
	width: 70%;
	margin-left: 10px;
	margin-top: 6px;

    }
    .elementor-page-2831 .elementor-fit-aspect-ratio iframe{
	margin-top: 0px;
    }

    .elementor-fit-aspect-ratio iframe{
	height: 83% !important;
	margin-top: 12px;
    }

    .ld-comment-body.white-text {
	border-bottom: 1px solid #9E9E9E;
    }
    .learndash-wrapper .ld-focus-comment .ld-comment-reply {
	margin-top: 0px !important;
	padding: 0;
	float: right;
    }


    .learndash-cpt-sfwd-quiz-3144-current .learndash-wrapper .ld-tabs-content {
	height: 15px !important;

    }


    h4.customquiztext {
        line-height: 18px;
    }
}

/* Mac Book Air View  */
@media screen and (max-width: 1280px) and (min-width: 1200px) {

    body.admin-bar .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content {
	padding: 60px 20px 5em 0px;
    }
    body .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content {
	padding: 90px 20px 5em 0px;
    }

    .learndash-wrapper .ld-focus .ld-focus-main {
        margin-left: 340px;
    }

    body.admin-bar .learndash-wrapper .ld-focus .ld-focus-sidebar {
	padding-bottom: 130px !important;
    }

    .learndash-wrapper .ld-focus .ld-focus-sidebar {
	padding-bottom: 165px !important;
    }

    .light-dark-btn {
	margin-top: 24px;
    }

}

@media screen and (max-width: 1366px) and (min-width: 1360px) {

    .learndash-wrapper .ld-focus .ld-focus-sidebar {
	padding-bottom: 5.5em !important;
    }
    body.admin-bar .learndash-wrapper .ld-focus .ld-focus-sidebar {
	padding-bottom: 3.5em !important;
    }
    /* .ld-focus-sidebar-wrapper {
	height: 450px !important;
    }

    iframe.elementor-video-iframe {
	height: 420px;
	background: transparent;
    }
    .elementor-aspect-ratio-169 .elementor-fit-aspect-ratio {
	padding-bottom: 54.1%;
    } */

    .light-dark-btn {
	display: flex;
	margin-top: 18px;
    }
}
@media screen and (max-width: 2880px) and (min-width: 2240px) {



    .learndash-wrapper .ld-focus .ld-focus-sidebar {
	padding-bottom: 119px !important;
    }
    /*  .ld-focus-sidebar-wrapper {
	height: 72.5vh !important;
    }
      .elementor iframe{
	height: 70vh !important;
	background: white;
      } */

    /*   .elementor-aspect-ratio-169 .elementor-fit-aspect-ratio {
	padding-bottom: 39.80% !important;
    } */

    .light-dark-btn {

	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;

    }

    /*  .learndash-cpt-sfwd-lessons-2831-current h2.elementor-heading-title.elementor-size-default {
	margin-left: 315px;
    } */
}

@media screen and (max-width: 2000px) and (min-width: 1920px) {

    .learndash-wrapper .ld-focus .ld-focus-sidebar {
	padding-bottom: 7.5em !important;
    }
    body.admin-bar .learndash-wrapper .ld-focus .ld-focus-sidebar {
	padding-bottom: 5.5em !important;
    }
    /*  .ld-focus-sidebar-wrapper {
	height: 78vh !important;
    }

      .elementor-page-2831 .ld-focus-sidebar-wrapper {
	height: 77.2vh !important;
    }
    */
    /*   .elementor iframe{
	height: 75vh !important;
	background: transparent ;
      } */

    /*   .elementor-aspect-ratio-169 .elementor-fit-aspect-ratio {
	padding-bottom: 54.5% !important;
    } */

    .light-dark-btn {

	margin-top: 18px;
	display: flex;
	flex-wrap: wrap;
    }
    .elementor-page-2831 .light-dark-btn {

	/*      margin-top: 39px !important; */
	display: flex;
	flex-wrap: wrap;
    }

    /* .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content {
	padding: 72px 5em 5em 5em;
    }

      body.admin-bar .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content {
	padding: 63px 5em 5em 5em;
    }
       .elementor-page-2831 .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content {
	padding: 80px 5em 5em 5em;
    }

	body.admin-bar.elementor-page-2831 .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content {
	padding: 60px 5em 5em 5em;
    } */

}

@media only screen and (max-width: 1040px) and (min-width: 980px)  {

    .ff-form .form-check-label {
	display: inline-block;
	padding-left: 48px !important;
    }
    #ff-id-432549593 input {
	left: 30px;
    }

    .elementor-heading-title.elementor-size-default .ld-content-actions {
	margin-top: -3px;
    }
    .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content {
	padding: 95px 2em 5em 2em;
    }
    .learndash-wrapper .ld-focus .ld-focus-main {
	margin-left: 310px;
	width: calc(100% - 310px);
    }

    .ld-icon {
	font-size: 12px !important;
    }
    .learndash-wrapper .ld-content-actions .ld-button .ld-text {
	font-size: 14px !important;
    }

    .light-dark-btn {
	margin-top: 30px !important;
    }

}

@media only screen and (max-width: 480px) and (min-width: 280px)  {

    .currency-usdsafari #ff-id-432549593 input {
	position: absolute;
	left: 20px !important;
	top: -5px !important;
    }

    .learndash-wrapper .ld-focus .ld-focus-sidebar {

	box-shadow: none!important;
	padding-bottom: 20px !important;
    }

    .elementor-page-2831 .player .vp-controls-wrapper .vp-controls {
	font-size:12px !important;
    }

    .mob-heading h2.elementor-heading-title.elementor-size-default {
	font-size: 16px !important;
	display: block !important;
	margin-top: 25px !important;
    }

    .learndash-wrapper .ld-focus-comment:first-child {
	margin-top: 65px;
    }

    .elementor-widget-container .ld-content-actions {
	display: none !important;
    }

    body.admin-bar .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content {
	padding: 1% 1.5em 0% 1.5em;
    }

}

/* iphone11 S20plus  */
@media only screen and (max-width: 480px) and (min-width: 401px)  {

    .ff-form table tr .ff-grid-label {
	display: block;
	width: 327px;
	font-size: 15px;
	font-weight: 600;
    }

    .learndash-wrapper .ld-tabs-content {
	height: 218px;
	overflow: auto;
    }
    .learndash-wrapper .ld-focus .ld-focus-sidebar .ld-focus-sidebar-wrapper {
	padding: 0px 23px !important;
    }
    .light-dark-btn span.ld-text {
	padding-left: 18px !important;
    }
    .mobile-progress {
	padding-right: 25px;
    }
    /*   .ld-tab-content {
	height: 240px !important;
    } */



}

/* Redmi note9 pro,   */
@media only screen and (max-width: 400px) and (min-width: 390px)  {

    .ff-form table tr .ff-grid-label {
	display: block;
	width: 327px;
	font-size: 15px;
	font-weight: 600;
    }

    .learndash-wrapper .ld-tabs-content {
	height: 203px;
	overflow: auto;
    }
    .learndash-wrapper .ld-focus .ld-focus-sidebar .ld-focus-sidebar-wrapper {
	padding: 0px 23px !important;
    }
    .light-dark-btn span.ld-text {
	padding-left: 18px !important;
    }
    .mobile-progress {
	padding-right: 25px;
    }
    /*   .ld-tab-content {
	height: 240px !important;
    } */



}
@media only screen and (max-width: 389px) and (min-width: 381px)  {
    .learndash-wrapper .ld-focus .ld-focus-sidebar .ld-focus-sidebar-wrapper {
	padding: 0px 20px !important;
    }
    .light-dark-btn span.ld-text {
	padding-left: 12px !important;
    }
    .mobile-progress {
	padding-right: 20px;
    }
    .ld-tab-content {
	height: 218px !important;
    }
}

@media only screen and (max-width: 380px) and (min-width: 370px)  {



    .learndash-wrapper .ld-tabs-content {
	height: 220px;
	overflow: auto;
    }
    .ff-form table tr .ff-grid-label {
	display: block;
	width: 327px;
	font-size: 15px;
	font-weight: 600;
    }

}

@media only screen and (max-width: 369px) and (min-width: 340px)  {
    .learndash-wrapper .ld-content-actions .ld-button .ld-text {
	font-size: 13px !important;
    }
    .learndash-wrapper .ld-focus .ld-focus-sidebar .ld-focus-sidebar-wrapper {
	padding: 0px 23px !important;
    }
    .light-dark-btn span.ld-text {
	padding-left: 14px !important;
    }
    .mobile-progress {
	padding-right: 23px;
    }

    .learndash-wrapper .ld-tabs-content {
	height: 185px;
	overflow: auto;
    }
    .ff-form table tr .ff-grid-label {
	display: block;
	width: 327px;
	font-size: 15px;
	font-weight: 600;
    }



}

@media only screen and (max-width: 330px) and (min-width: 280px)  {

    .ff-form .form-check-label {
	padding-left: 59px !important;
    }
    #ff-id-432549593 input {
	left: 44px;
    }

    .learndash-wrapper .ld-content-actions .ld-button .ld-text {
	font-size: 13px !important;
    }
    .ff-form .form-check {
	min-width: 103px !important;
    }

    .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content > h1 {
	max-width: 250px !important;
    }

    .ff-form table tr .ff-grid-label {
	display: block;
	width: 250px;
	font-size: 15px;
	font-weight: 600;
    }
    .learndash-wrapper .ld-tabs-content {
	height: 150px;
	overflow: auto;
    }
    .ld-focus-content h1 {
	position: absolute;
	left: 10%;
	top: -32px;
	z-index: 99;
    }

}



.arrow-mobile-nav{
    display:none;
}


body .ld-course-list-items .ld_course_grid .thumbnail.course .ld_course_grid_price{
    background-color: #0f9fec;
}
body .ld-course-list-items .ld_course_grid .thumbnail.course .ld_course_grid_price.ribbon-enrolled{
    background-color: #fd591a;
}
.ld_course_grid_price.ribbon-enrolled-progress {
    background-color: #19a64c !important;
}
.certificate_container h2 {
    font-size: 14px!important;
}

.certificate-list a.list_elements {
    flex: 1 1 32%;
    max-width: 32%;
    width: 32%;
    background: url(http://vitacodis.gip.by/wp-content/themes/zequester-pro-child-theme/zequester-pro-child-theme/placeholder.png)no-repeat;
    background-size: cover;
    max-height: 226px;
}
.certificate-list{
    display: flex;
    flex-wrap: wrap;
}

.certificate_container {
    background: unset !important;
    background-size: unset !important;
}
.certificate_container h2 {
    padding: 90px 120px 110px 15px;
}

.certificate_container {
    min-height: 280px;

}
img.mian.avatar.avatar-96.photo {
    width: 35px;
    height: 35px;
    margin-left: 1em;
}
/* Dark mode  */

.dark{
    background: #383636 !important;
    /*   transition: background 2s ease; */
}

.light-dark-btn span.ld-text {
    color: #4a5a60;
    margin-left: 9px !important;
    font-size: 14px;
    font-weight: bold;
    font-family: "Gotham Pro";
    line-height: 1.4em;
}


.learndash-wrapper .ld-focus .ld-focus-sidebar {
    padding-bottom: 80px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 21px;
    margin-left: 15px;
    margin-top: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 6px;
    bottom: 2.8px;;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}



input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Track */
.learndash-wrapper .ld-focus .ld-focus-sidebar .ld-focus-sidebar-wrapper::-webkit-scrollbar-track {
    /*   background: red !important;  */
}

/* Handle */
.learndash-wrapper .ld-focus .ld-focus-sidebar .ld-focus-sidebar-wrapper::-webkit-scrollbar-thumb {
    /*   background: black !important;  */
}

/* Handle on hover */
.learndash-wrapper .ld-focus .ld-focus-sidebar .ld-focus-sidebar-wrapper::-webkit-scrollbar-thumb:hover {
    /*   background: yellow !important;  */
}


.learndash-wrapper .ld-focus .ld-focus-sidebar .ld-focus-sidebar-wrapper::-webkit-scrollbar-track
{
    /* 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background-color: #c1c1c1;
}

.learndash-wrapper .ld-focus .ld-focus-sidebar .ld-focus-sidebar-wrapper::-webkit-scrollbar
{
    width: 15px;
    background-color: black;
}

.learndash-wrapper .ld-focus .ld-focus-sidebar .ld-focus-sidebar-wrapper::-webkit-scrollbar-thumb
{
    background-color: #968f8f;
    /* 	border: 2px solid #555555; */
}

a.close-course{
    display: none;
}
@media screen and (max-width:480px) {
    a.close-course{
	position: absolute;
	z-index: 9999;
	right: 15px;
	top: 15px;
    }
    .course-discussion .ld-focus-sidebar,
    .course-feedback .ld-focus-sidebar,
    .feedback-thank-you .ld-focus-sidebar,
    .course-resources .ld-focus-sidebar{
	display: none;
    }
    .learndash-cpt.learndash-cpt-sfwd-quiz a.close-course,
    .course-discussion a.close-course,
    .course-feedback a.close-course,
    .feedback-thank-you a.close-course,
    .course-resources a.close-course{
	display: inline-block;
    }
    .ff-button-bar-email{
	display: none;
    }
    .ld-focus-content{
	position: relative;
    }
    .ldx-plugin .learndash .wpProQuiz_content{
	padding-top: 25px!important;
    }
    .feedback-thank-you .learndash h2.elementor-heading-title{
	padding-right: 30px!important;
    }
    .learndash-cpt.learndash-cpt-sfwd-quiz .ld-focus-header,
    .course-discussion .ld-focus-header,
    .course-feedback .ld-focus-header,
    .feedback-thank-you .ld-focus-header,
    .course-resources .ld-focus-header{
	display: none!important;
    }
}
@media screen and (min-width:1200px) {
    body.woocommerce-checkout form.checkout div#order_review div#payment {
	background-position: right 80%!important;
    }
}