#swither-panel-darkmode-fullscreen {
    margin-right: 10px;
}

#swither-panel-darkmode-fullscreen i{
    font-size: 31px;
    display: block;
}

#wrap-darkmode-fullscreen {
    position: relative;
}

#wrap-darkmode-fullscreen .wrap_swither{
    position: absolute;
    top:13px;
    right: 0px;
    width: 180px;
    min-height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 200;
    background-color: #fff;
    /*border: 1px solid #42A5F5;*/
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

#wrap-darkmode-fullscreen .wrap_swither .wrap_darkmode{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#wrap-darkmode-fullscreen .wrap_swither .wrap_fullscreen{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wrap-darkmode-fullscreen .wrap_swither .switch{
    margin: 0px;
    margin-right: 10px;
}

#wrap-darkmode-fullscreen .wrap_swither .ld-text.desktop {
    margin-left: 0px;
}

#wrap-darkmode-fullscreen .slider:before {
    left: 6px;
    bottom: 2.5px;
}
/* panel DarkMode and FullScreen */

.light-dark-btn {
    display: flex;
    align-items: center;
}

#swither-panel-darkmode-fullscreen{
    cursor: pointer;
}

@media screen and (min-width: 480px) {

    .light-dark-btn {
        display: none !important;
    }
}

/* Hide setting DarkMode and FullScreen on large screens*/
@media screen and (max-width: 480px){
    #swither-panel-darkmode-fullscreen{
        display: none;
    }
}

@media screen and (max-width: 768px){
    #swither-panel-darkmode-fullscreen{
        order:3
    }
    #wrap-darkmode-fullscreen{
        order:3
    }

    .learndash-wrapper .ld-focus .ld-focus-header .ld-mobile-nav {
        margin-right: auto;
    }
    body.admin-bar .learndash-wrapper .ld-focus-header {
        justify-content: flex-start;
    }

}

@media only screen and (max-width: 480px) and (min-width: 280px) {
    .light-dark-btn .switch {
        position: relative !important;
    }
}
.dark #wrap-darkmode-fullscreen .wrap_swither {
    background-color: #383636;
}
