#darkmode .ld-table-list-item-preview.ld-is-current-item{
    color: #0d9fec;
}

#darkmode .course-heading a, #darkmode .ld-lesson-title, #darkmode .ld-table-list-item-preview {
    /*color: #dedada;*/
    color: rgb(222, 218, 218) !important;
}

#darkmode .ld-focus-sidebar,#darkmode .ld-focus-header,#darkmode .ct-logo{
    /* dark */
    background: #383636 !important;
}
.learndash-wrapper .ld-focus .ld-focus-sidebar{
    /* dark */
    transition: background 0s ease;
}

#darkmode .ld-focus-header{
    /* border-bottom */
    border-bottom: 1px solid #383636 !important;
}

#darkmode .ld-primary-color-hover:hover {
    /* dark-hover */
    background: #968f8f !important;
}

#darkmode .ld-topic-row,#darkmode .quiz_row .dark-hover{
    /* border-top */
    border-top: 1px solid #968f8f00 !important;
}

#darkmode .ld-is-current-lesson .ld-lesson-item-preview-heading{
    /* light-bg */
    background-color: #968f8f !important;
}

.ld-is-current-lesson .ld-lesson-item-preview-heading, .ld-mobile-nav span,#darkmode .wpProQuiz_questionListItem label{
    /* light-bg */
    transition: background-color 0s ease;
}

/* In discussions text area transparent */
#darkmode .learndash-wrapper .ld-focus-comments #commentform textarea#comment {
	background: transparent;
}

#darkmode .ld-icon-arrow-left:before,
#darkmode .ld-icon-arrow-right:before {
    color: #dddada;
}

#darkmode .ld-focus-sidebar{
    /* border-right */
    border-right: 1px solid #383636 !important;
}
#darkmode .ld-lesson-item{
    /* light-grey */
    border-color: #868282 !important;
    background-color: #383636;
}
#darkmode .learndash-wrapper .ld-focus .ld-focus-sidebar .ld-course-navigation .ld-topic-list.ld-table-list {
	background-color: #383636;
}

body#darkmode,
#darkmode .ld-focus-content,
#darkmode .elementor-element-5a8e9ef,
#darkmode .elementor-heading-title,
#darkmode .elementor-section,
#darkmode .ld-button.ld-button-transparent,
#darkmode .ld-topic-row,
#darkmode .ld-table-list-item-preview,
#darkmode .ld-comment-wrapper,
#darkmode .learndash-wrapper,
#darkmode #comment,
#darkmode .elementor-element-6eb91074 .elementor-button-wrapper a,
#darkmode .elementor-video-iframe,
#darkmode .elementor-element-3bb72c84 .elementor-button-wrapper a,
#darkmode .ld-button-transparent,
{
    /* dark */
    background: #383636 !important;
}
#darkmode .wpProQuiz_questionListItem label {
    background-color: #988f90;
    color: #fff;
}

#darkmode{
    background: #383636 !important;
    /*   transition: background 2s ease; */
}

#darkmode .ld-icon-arrow-down,
#darkmode .elementor-heading-title,
#darkmode .ld-text,
#darkmode .ld-progress-steps,
#darkmode .ld-topic-row,
#darkmode .elementor-text-editor,
#darkmode .ld-comment-body,
#darkmode .ld-comment-permalink,
#darkmode .comment-reply-title,
#darkmode .ld-comment-author-name,
#darkmode .ld-focus-content h1,
#darkmode .ff-description p,
#darkmode .ff-grid-label,
#darkmode .ff-item label,
#darkmode .ff-secfields td,
#darkmode #comment,
#darkmode .elementor-element-6eb91074 .elementor-button-wrapper a,
#darkmode .elementor-element-3bb72c84 .elementor-button-wrapper a,
#darkmode .comment-form,
#darkmode .comment-form a,
#darkmode  .learndash-wrapper .wpProQuiz_question_text p,
#darkmode  .learndash-wrapper .wpProQuiz_content h2,
#darkmode .learndash-wrapper h4 .customquiztext,
#darkmode .ld-button-transparent,
#darkmode .learndash-wrapper .form-control,
#darkmode .ldx-plugin .learndash .wpProQuiz_content h2,
#darkmode .lqc-plugin .learndash .wpProQuiz_content .wpProQuiz_question_text,
#darkmode .learndash-wrapper .ld-button, 
#darkmode .learndash-wrapper .ld-content-actions .ld-button .ld-text,
#darkmode .learndash-wrapper .ld-expand-button.ld-button-alternate .ld-text,
#darkmode .learndash-wrapper .ld-icon-arrow-down:before,
#darkmode .learndash-wrapper .ld-focus-main .ld-progress-steps,
#darkmode .learndash-wrapper .wrap_icon_settings-mode,
#darkmode .learndash-wrapper .ld-focus-comments .comment-respond h3#reply-title
{
    /* white-text */
    color: #dedada;
}

#darkmode .wpProQuiz_questionListItem.wpProQuiz_answerIncorrect label{
    background-color: #ffcdd2 !important;
    color: black;
}
#darkmode .wpProQuiz_questionListItem.wpProQuiz_answerCorrectIncomplete label{
    background-color: var(--lqc-color-correct-light) !important;
    color: black;
}

#darkmode .wrap_swither,
#darkmode .ld-focus-comments__comments-items .comment .ld-comment-wrapper{
    background: #383636 !important;
}

.dark{
    background: #383636 !important;
    /*   transition: background 2s ease; */
}

#darkmode .elementor-button{
    background-color: #383636;
    color:#fff;
}

#darkmode .elementor-button{
    background-color: #383636;
    color:#fff;
}
#darkmode .ld-content-action .ld-button.ld-button-transparent {
	color: inherit !important;
}